:root {
  /* color */
  --white: #fff;
  --gray-10: #eee;
  --gray-25: #aaa;
  --gray-50: #707070;
  --gray-75: #444;
  --black: #000;
  --accent: #0d87e0;
  --accent-bg: #d9eefd;
}

/* basic */
html {
  font-size: 62.5%;
}

body {
  color: var(--black);
  font-family: 'Roboto', 'Noto Sans JP', 'Open Sans', Arial, Verdana, 'YuGothic', 'Yu Gothic',
    '游ゴシック', '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

/* reset */
body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* about */
.narrowBody {
  max-width: 900px;
  margin: 80px auto 0;
}

.aboutTitle {
  margin: 0 0 30px 0 !important;
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  height: 20px;
}

.aboutTitle:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: #000;
  width: 10px;
  height: 1px;
  top: calc(50% + 1px);
  left: -22px;
}

@media (max-width: 768px) {
  .aboutTitle:before {
    content: none;
  }
}

.aboutTop {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0 0 50px 0;
}

.aboutTopAvater span {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid#ddd;
}

.aboutFlex,
.contactFlex {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 50px 0;
}

.contactFlex {
  width: 250px;
  margin: 0 auto;
  gap: 30px;
}

.aboutFlex :nth-child(odd) {
  width: 15%;
}

.aboutFlex :nth-child(even) {
  width: calc(85% - 20px);
}

.aboutFlex a,
.contactFlex a {
  color: var(--accent);
  line-height: 2;
}

.contactFlex :nth-child(odd) {
  width: 30%;
}

.contactFlex :nth-child(even) {
  width: calc(70% - 30px);
}

.contactLeading {
  margin: 0 0 80px 0;
  text-align: center;
}

/* .about-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-table th {
  font-size: 1.4rem;
  width: 140px;
  text-align: left;
  padding: 0 0 30px 0;
  letter-spacing: 0.1em;
}

.about-table td {
  font-size: 1.4rem;
  vertical-align: top;
  padding: 0 0 30px 0;
  letter-spacing: 0.1em;
} */

/* page-basic */
.pageBasic .eyecatch img {
  width: 100%;
  margin: 0 0 25px 0;
}

.pageBasic table.table01 {
  margin: 30px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
@media only screen and (max-width: 640px) {
  .pageBasic table.table01 {
    margin: 10px 0;
  }
}

.pageBasic table.table01 tbody tr:last-child {
  border-bottom: #ddd 1px solid;
}

.pageBasic table.table01 tbody th {
  padding: 5px 8px;
  width: 15%;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  background: #f4f4f4;
  border: #ddd 1px solid;
  font-size: 1.4rem;
}

.pageBasic table.table01 tbody th span {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5;
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  .pageBasic table.table01 tbody th {
    width: 100%;
    display: block;
    border-bottom: none;
  }
}

.pageBasic table.table01 tbody td {
  padding: 5px 8px;
  text-align: left;
  vertical-align: top;
  border: #ddd 1px solid;
  font-size: 1.4rem;
}
@media only screen and (max-width: 640px) {
  .pageBasic table.table01 tbody td {
    display: block;
    border-bottom: none;
  }
}

/* others */
.othersFlex {
  border-top: 1px solid #ddd;
  margin: 25px 0 0 0;
  padding: 25px 0 0 0;
}

.othersFlex > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 150px;
  margin: 0 0 25px 0;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #ddd;
}

.othersFlex > div :nth-child(odd) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}

.othersFlex > div :nth-child(odd) img {
  width: 115px;
}

.othersFlex > div :nth-child(even) {
  width: calc(80% - 50px);
}
